{% extends "layout.html" %}
{% block content %}
    <div class="site-header-logo">
        <h1 class="text-center">
            World Population 2022: 7,868,872,451
        </h1>
    </div>

    <div class="row p-4">
        <div class="card m-auto" style="width: 90%;">
            <div class="card-body">
                <div id="chart1"></div>
                <p class="card-text">
                    <p><strong>The aim of this project is the visualization of the World’s Population by Regions, these regions are:</strong></p>
                    <ul>
                        <li>africa</li>
                        <li>Asia</li>
                        <li>Europe</li>
                        <li>North America</li>
                        <li>South America </li>
                        <li>Oceania</li>
                      </ul>  
                      <p><strong>In this visualization we will focus on 4 parameters: </p></strong>
                      <ul>
                      <li>Population</li>
                      <li>Fertility Rate</li>
                      <li>Urban Population</li>
                      <li>Rural Population</li>
                      </ul> 

                      <p style="font-size:90% ; text-align: right"; ><strong><i>This Project is Prepared by ELHADNE Amal, a master degree student in Big Data </i></strong></p>
                </p>
            </div>
            </div>
        </div>

     

   
       
    </div>
    <!-- plotly CDN -->



{% endblock %}